@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
}

fucking {
    height: 600px;
    text-align: center;
    position: absolute;
}